body{
	width: 100%;
}

/*墙纸*/
#wapper{  
    position: relative;/*重要！保证footer是相对于wapper位置绝对*/  
    height: 100%;      /*保证页面能撑开浏览器高度时显示正常*/  
    min-height: 100%;  /*IE6不支持，IE6要单独配置*/  
}

/*主页*/
#main-content{  
   padding-bottom: 50px; /*重要！给footer预留的空间*/
   width: 100%;
} 

/*页脚*/
#footer{  
   position: absolute;  
   bottom: 0;   
   left:0; /* IE下一定要记得 */  
   height: 50px; /* footer的高度一定要是固定值*/  
   width: 100%;
}
  
/*主页头*/
#header{
	padding-top: 200px;
	padding-right: 350px;
}

h1{
	font-family: "微软雅黑";
	font-size: 48px;
	color:white;
	text-align: center;
}

table {
	/*border:solid #a87800;
	border-width:20px 10px 10px 10px;
	border-radius:5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-spacing: 0px;
	box-shadow: 0 1px 8px 1.5px rgba(0, 0, 0, 0.35), 0 20px 70px 8px rgba(0, 0, 0, 0.25);*/
	margin:0px auto;
}

tr#main_nav{
	background: none;
	height: 50px;
}

tr#sub_nav{
	background: none;
	height: 150px;
}

td {
	padding-bottom: 0px;
	text-align: left;
}

td#main_nav{	
	vertical-align:bottom;
}

td#sub_nav{
	vertical-align:top;
}

button{
	background: none;
	font-family: "微软雅黑";
	font-size: 14px;
	color:white;
	border: 1px;
	border-radius: 1.5px;
	
	text-align:top;
	vertical-align: top;
}

button:hover{
	font-size: 16px;
	background: white;
	color:black;
}

button#english{
	Writing-mode:tb-rl;
}

button#main_nav:hover{
	background: white;
	color:black;
}

button#main_nav{
	background: none;
	color:white;
	font-family: "微软雅黑";
	font-size: 16px;
	border: 0px;
	text-align:top;
	width:80px;
	height:30px;
}

div#nav-label{
	width:100px;
	height:25px;
	text-align:center;
	float:left;
}
