div#blog-header{
	width: 50%;
	height: 160px;
	position:relative;
	margin:0 auto;
}

h1{
	margin-left:10px;
	font-size:40px;
}

h3{
	margin-left:10px;
	font-size:12px;
}
button:hover{
	background: black;
	color:white;
	/*border:1px solid black;*/
}

button{
	background:none;
	color:black;
	font-family: "微软雅黑";
	font-size: 16px;
	border: 0px;
	text-align:top;
	margin-left:1px;
	width:60px;
	height:30px;
}

button#first{
	margin-left:30px;
}

button#active{
	background: black;
	color:white;
}

label#class-name{
	height:20px;
	margin-top:10px;
	padding-top: 5px;
	margin-left:10px;
	font-size: 16px;
}

#line{
	margin-top:5px;
	height:1px;
	border:none;
	border-top:1px dashed black;
}

table{
	width: 50%;
	line-height:20px;
	margin:0 auto;
}

td{
	padding-left:5px;
	padding-right:5px;
}

td#right-time{
	width: 80px;
	text-align: right;
	font-size: 14px;
	padding-right:10px;
}

tr:hover{
	background:lightgray;
}

a{
	border:1px dashed #000; 
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	text-decoration: none;
	font-size: 14px;
}

a:hover {
	border:1px dashed red; 
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	text-decoration: none;
}

a:link { 
	color:black;
	text-decoration:none; 
} 

a:visited { 
	color:black; 
	text-decoration:none; 
} 

a:active { 
	color:gray; 
	text-decoration:none; 
} 
